body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/wolfgang.jpg);
    background-size: cover;
}

.box {
    background: #191919;
    border-radius: 20px;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    text-align: center;
}

.box h1 {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
}

.box input[type="text"],
.box input[type="password"] {
    background: none;
    border: 2px solid #3498db;
    border-radius: 24px;
    color: #ffffff;
    display: block;
    margin: 20px auto;
    outline: none;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"] {
    background: none;
    border: 2px solid #2ecc71;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    outline: none;
    text-align: center;
    padding: 14px 40px;
    transition: 0.25s;
}

.box input[type="submit"]:hover {
    background: #2ecc71;
    color: #191919;
}